python-telegram-bot
firebase-admin
google-cloud-firestore # Добавлен для корректной работы с Firestore
packaging              # Добавлен, чтобы решить ModuleNotFoundError
python-telegram-bot==22.5
firebase-admin
gunicorn
python-telegram-bot[webhooks]~=22.5
gunicorn
firebase-admin
google-cloud-firestore
